.clb {
	clear:both;
	overflow: hidden;
	visibility: hidden;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.tac {
  text-align: center;
}

.taj {
  text-align: justify;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.ind10 {
  margin-left: 10px;
}

.w10 {width: 10%;}
.w20 {width: 20%;}
.w25 {width: 25%;}
.w30 {width: 30%;}
.w33 {width: 33%;}
.w35 {width: 35%;}
.w38 {width: 38%;}
.w40 {width: 40%;}
.w45 {width: 45%;}
.w50 {width: 50%;}
.w55 {width: 55%;}
.w60 {width: 60%;}
.w65 {width: 65%;}
.w70 {width: 70%;}
.w75 {width: 75%;}
.w80 {width: 80%;}
.w85 {width: 85%;}
.w90 {width: 90%;}
.w95 {width: 95%;}
.w99 {width: 99%;}
.w100 {width: 100%;}

.h50 {height: 50px;}
.h60 {height: 60px;}
.h70 {height: 70px;}
.h80 {height: 80px;}
.h90 {height: 90px;}
.h100 {height: 100px;}
.h125 {height: 125px;}
.h150 {height: 150px;}
.h200 {height: 200px;}
.h300 {height: 300px;}
.h400 {height: 400px;}

.stretch {
	float: right;
	height: 350px;
  width: 1px;
}

.button {
	padding: 0.1em 0.4em 0.15em 0.4em;
	border: 1px solid #ddd;
	text-decoration:none;
	background: transparent url(../img/bg_radiant_f3f3f3.gif) top left;
  letter-spacing: 0em;
}

.button.disabled, .button.disabled:hover {
	background:none;
	background-color:#f6f6f6;
	color:#ccc;
	border-color:#ddd;
}

.button:hover {
	text-decoration:none;
	border: 1px solid #999;
}

#ajaxArea {
  position: absolute;
  top: 100px;
  left: -400px;
  visibility: hidden;
}

div.hr{
	margin: 10px 10% 10px 10%;
	display:block;
	border-top:2px dotted #ccc;
}

hr{
	display:none;
}

a img {
  border: none;
}

.bubble {
  position: absolute;
  display: none;
}

/* basics */

html {
	margin: 0;
	padding: 0 2.2% 0 2.2%;
	color: #404040;
	background-color: #C7D4E1;
	background-image: url(../img/body_bg_gradient.jpg);
	background-repeat:repeat-x;
}

body {
	font-size: 13px;
	font-family: Verdana, Geneva, sans-serif;
        letter-spacing: -0.01em;

	margin: 0px;
	padding: 0px;
}

table {
	font-size: 13px;
}

form {
	margin: 0px;
}

a {
	color: #369;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.info {
position:relative; 
z-index:24;
color:#000;
text-decoration:none}

a.info:hover{z-index:25; background-color:#ff0}

a.info span{display: none}

a.info:hover span{ 
display:block; 
position:absolute;
top:2em; left:2em; width:15em;
border:1px solid #6699cc;
background-color:#FFFF00; color:#404040;
text-align: justify;
font-weight:none;
padding:5px;
text-decoration:none;
}

h1  {
	color:#666;
  font-size: 1.1em;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2  {
  font-size: 1.05em;
}

h3  {
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 5px;
}

ul {
  padding-left: 20px;
  margin-left: 0px;
  margin-top: 2px;
}

li {
  margin-bottom: 2px;
}

/* page */

.pageold {
	width: 95%;
	margin: 5px auto 20px auto;
	background: #fff;
}

.page {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    padding-top: 0;
    width: 988px;
	background: #fff;
}

/* headBar */

.headBar {
	padding: 0px;
        background-color: #f6f6f6;
}

.headBarRow1 {
	width: 100%;
	height: 70px;
        background: #f6f6f6 url(../img/openlinker.png) left center no-repeat;
}

.headBarRow1b {
	width: 100%;
	height: 70px;
        background: #f6f6f6 url(../img/openillink.png) left center no-repeat;
}

.headBarRow1c {
	width: 100%;
	height: 70px;
        background: #f6f6f6 url(../img/openlist.png) left center no-repeat;
}

/* navBar */

.headBarRow2 {
	clear:both;
	width: 100%;
	background: #fff url(../img/bg_topnav.gif) center center repeat-x;
}

.headBarRow2 .topNavArea {
	float: left;
	padding: 0px 0px 0px 20px;
	letter-spacing: 0em;
  font-size: 12px;
}

.headBarRow2 .sysNavArea {
	float: right;
	padding: 0px 0px 0px 20px;
	letter-spacing: 0.1em;
}

.headBarRow2 ul {
	list-style-type: none;
	padding: 0px;
  padding: 0.4em 0px;
	margin: 0px;
	margin-left: 10px;
}

.headBarRow2 ul li {
	display: inline;
}

.headBarRow2 ul li a {
	color: #369;
	font-weight: bold;
	text-decoration: none;
	margin-right: 20px;
}

.headBarRow2 ul li a.selected, .headBarRow2 ul li a:hover {
	color: #369;
	text-decoration: underline;
}

/* contentArea */

.contentArea {
	border-top: 1px solid #ccc;
	color: #666;
	padding-top:20px;
}

.content {
	width: 95%;
	margin: 0px 25px 0px 25px;
	min-height: 350px;
	line-height: 1.3em;
}

.main {
  float:left;
  width: 90%;
  padding-left: 1%;
}

.side-1 {
  float:right;
  width: 33%;
}

.side-1 h2, .side-1 h3 {
  margin-top: 5px;
}


/* subnav */

.subNav {
	padding-top:5px;
	padding-bottom:10px;
	line-height: 1em;
}

.subNav ul{
	list-style-type: none;
	padding: 5px 10px 5px 10px;
	margin: 0px;
	font-family:Arial, sans-serif;
	font-size: 0.8em;
	background: transparent url(../img/bg_topnav.gif) center center repeat-x;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

.subNav ul li {
	display: inline;
	margin-right: 20px;
	margin-bottom:0px;
}

.subNav ul li a {
	font-weight: bold;
	text-decoration: none;
	color: #999;
}

.subNav ul li a.selected, .subNav ul li a:hover {
	color:#369;
}

/* footer */

.footerArea {
	background: #fff url(../img/bg_footer.gif) bottom center repeat-x;
	color: #666;
}

.footer {
	font-size: 0.9em;
	padding-top: 15px;
	padding-bottom:15px;
	border-top: 2px solid #ccc;
	text-align: center;
  margin-top: 20px;
}

.footer div {
	margin: 0px 20px 0px 20px;
}

.outerFooter {
	font-size: 0.9em;
	text-align: center;
	margin: 0px auto 0px auto;
	padding-top: 5px;
	padding-bottom:5px;
	border-top: 2px solid #369;
	color: #888;
	background-color: #aaa;
  letter-spacing: -0.05em;
}

.outerFooter a {
	color: #888;
}

.outerFooter a:hover {
	color: #369;
}

.subInfo {
	margin:5px;
}

/* box */

.box {
	background: transparent url(../img/bg_box.gif) top left no-repeat;
}

.box-content {
	background: transparent url(../img/bg_box.gif) top right no-repeat;
  margin-left: 15px;
  padding: 15px 10px 0px 5px;
  clear: both;
}

.box-content h3 {
  margin-top: 5px;
}

.box-footer {
	background: transparent url(../img/bg_box.gif) bottom left no-repeat;
  height: 20px;
}

.box-footer-right {
	background: transparent url(../img/bg_box.gif) bottom right no-repeat;
  height: 20px;
  margin-left: 15px;
}


/* bubble help */

#bubble {
  position: absolute;
  display: none;
  border: 1px solid #ccc;
  padding: 5px;
	opacity: 0.9;
  text-align: left;
  background-color: #fff;
	/* background: #fff url(../img/bg_radiant_f3f3f3.gif) bottom center repeat-x; */
}

#bubble p {
  margin: 2px 0px 2px 0px;
}



